@charset "utf-8";

@font-face {
    font-family: NanumSquareR;
    src: url(../font/NanumSquareR.woff) format('woff');
}

@font-face {
    font-family: NanumSquareL;
    src: url(../font/NanumSquareL.woff) format('woff');
}

@font-face {
    font-family: NanumSquareB;
    src: url(../font/NanumSquareB.woff) format('woff');
}
input[type="radio"] {
    margin-right: 10px;
    margin-left: 10px;
}
table[class="board"]{
	border-top: 3px solid #369;
	border-collapse: collapse;
	margin-left: auto;
  	margin-right: auto;
}

.alarmLine {cursor:pointer;}

.board th{
	background-color: #b1e9fe;
    padding: 20px; 
} 
.board td{
	background-color: #ffffff;
}
.board:hover{
	border: 3px solid #0000a0;
}
.voteCount {
	text-align: center;
}
table[class="profile"] {
	border-collapse: separate;
 	overflow: hidden;
 	margin-left: auto;
  	margin-right: auto;
  	border-radius: 1em;
  	padding: 20px;
  	border-spacing : 20px;
}
.profile th {
	background-color:  #d2ffff;
    padding: 20px;
    margin: 100px;
    border-radius: 1em;
    height: 300px;
}
.profile th:hover {
	background-color:  #9bffff;
    padding: 10px;
    border-radius: 1em;
    border: 3px solid #369;
}
table[class="replyView"] {
	margin-left: auto;
  	margin-right: auto;
  	width: 450px;
}
.replyView th{
	background-color:  #d2ffff;
	padding: 10px;
	width: 50px;
	text-align: center;
	border-left: 1px solid #400080;
}
.replyView td{
	padding: 10px;
	text-align: center;
}
.replyView:hover{
	padding: 10px;
	background-color:  #d2ffff;
	border: 3px solid #369;
	
}
table[class="rank"] {
	border-collapse: separate;
 	overflow: hidden;
 	margin-left: auto;
  	margin-right: auto;
  	border-radius: 1em;
  	padding: 20px;
  	border-spacing : 20px;
}
.rank th {
	background-color:  #d2ffff;
    padding: 20px;
    margin: 100px;
    border-radius: 1em;
    height: 300px;
}
.rank th:hover {
	background-color:  #9bffff;
    padding: 17px;
    border-radius: 1em;
    border: 3px solid #369;
}
table[class="centerTable"] {
  border-collapse: collapse;
  border-top: 3px solid #369;
}
.centerTable th {
	background-color: #e2e2e2;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.centerTable td{
	background-color: #ffffff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px; 
}
#inputFormCss th, #inputFormCss td{
	background-color: #c0c0c0;
    padding: 20px;  
    border: 1px solid blue;
}


.inputbutton {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 17px;
}
h1, h2, h3, h4, h5, p {
    font-family: NanumSquareR, sans-serif;
    font-weight: 500;
    color: #333;
}
#link {
	text-decoration:none;
	color: blue;
	cursor: pointer;
}

h1, h3 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-weight: 700;
}
.up, .down{
	margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 17px;
}

.up[name=upbpush] {
	background-color: red;
}
.down[name=downbpush] {
	background-color: blue;
}
.topContent {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}
.confirmForm{
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: rgb(17, 17, 189);
}
.confirmForm > h2 {
    padding-left: 10px;
    color: white;
    font: 20px;
}
.centerText{
    text-align: center;
}
.centerTable {
    margin-left: auto;
    margin-right: auto;
}
.leftTable {
    margin: 10px;
    height: 190px;
}
#inputFormCss{
    border: 1px solid blue;
    border-radius: 10px;  
}


#top_navbar {
    background: rgba(0,0,0,0.7);
}
#top_navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.navbar {
    background-color: rgb(17, 17, 189);
}
.navbar > #link{
    font-size: 40px;
    color: white;
}
.notify {
    position: relative;
    margin-top: 10px;
}
.notify .heartbit {
    position: absolute;
    top: -8px;
    right: -12px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #fb9678;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes heartbit { /* Safari and Chrome */
	 0% {
    -webkit-transform: scale(0);
    opacity: 0;
}
25% {
    -webkit-transform: scale(.1);
    opacity: .1;
}
50% {
    -webkit-transform: scale(.5);
    opacity: .3;
}
75% {
    -webkit-transform: scale(.8);
    opacity: .5;
}
100% {
    -webkit-transform: scale(1);
    opacity: 1;
}
    
}
.notify .point {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fb9678;
    position: absolute;
    right: -2px;
    top: 2px;
}
#myNavbar > ul > li > a{
    font-size: 30px;
    color: white;
    margin-right: 50px;
    tramsform: scale( 1 );
    transition: transform 0.7s;
}
#myNavbar > ul > li > a:hover {
    transform: scale( 1.5 );
    transition: transform 0.7s;  
}


.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown{
	top: 8px;
}
.dropdown-menu.show {
    display: block;
}
.dropdown .dropdown-toggle::after {
    display: none;
}
.dropdown-menu > li:hover, .dropdown-menu > li:focus {
    text-decoration: none;
    background-color: #eee;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -60px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem .5rem;
    margin: .125rem 0 0;
    font-size: 1.1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.flipInY {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes flipInY{
	0% {
    -webkit-transform: perspective(400px) rotate3d(0,1,0,90deg);
    transform: perspective(400px) rotate3d(0,1,0,90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
	}
	40% {
	    -webkit-transform: perspective(400px) rotate3d(0,1,0,-20deg);
	    transform: perspective(400px) rotate3d(0,1,0,-20deg);
	    -webkit-animation-timing-function: ease-in;
	    animation-timing-function: ease-in;
	}
	60% {
	    -webkit-transform: perspective(400px) rotate3d(0,1,0,10deg);
	    transform: perspective(400px) rotate3d(0,1,0,10deg);
	    opacity: 1;
	}
	80% {
	    -webkit-transform: perspective(400px) rotate3d(0,1,0,-5deg);
	    transform: perspective(400px) rotate3d(0,1,0,-5deg);
	}
	100% {
	    -webkit-transform: perspective(400px);
	    transform: perspective(400px);
	}
}

.mainContent {
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.mainContent > #mainTop {
    border-bottom:1px solid rgb(75, 75, 236);
    border-top:1px solid rgb(75, 75, 236);
    padding-Top: 20px;
}

.mainContent > #mainTop > div{
    padding-Top: 20px;
    padding-Bottom: 40px;
}
.mainText {
	padding-left: -20px;
}
#mainBottom{
    height: 140px;
    background-color: rgb(17, 17, 189);
    text-align: center;
   	margin-top: 70px;
}
#mainBottom > h1 {
    padding: 50px;
    color: white;
}
#middleImage{
    margin-left: auto;
    margin-right: auto; 
    display: block;
}
.navbar-nav{
	padding-left: 150px;
}

.solid {
    border:2px solid rgb(75, 75, 236);
    background-color: rgb(243, 235, 235);
    padding: 20px;

}

.separator {
    background: #59e;
    margin-top: 80px;
    padding: 21px;
    text-align: center;
    color: #fff;
}

.red {
    background: #fcc;
    border: #eaa solid 4px;
}

.yellow {
    background: #f6f6c0;
    border: #dd7 solid 4px;
}

.green {
    background: #bfc;
    border: #ada solid 4px;
}

.bluegreen {
    background: #aee;
    border: #8dd solid 4px;
}

.blue {
    background: #bcf;
    border: #9ae solid 4px;
}

/*  풀어주기   */
.pet_image {
    width: 100%;
}

.carousel-caption * {
    color: white;
}
#fadein {
	-webkit-animation: fadein 2s; /* Safari and Chrome */  
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}